@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  background-color: #fff0d3;
}

.codemirror {
  overflow: hidden;
  font-size: 18px;
  min-width: 550px;
  margin-right: 13px;
  margin-left: 7px;
}

.transparentBg {
  background: #444;
  background-image: linear-gradient(45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(-45deg, #1d1d1d 25%, transparent 0),
    linear-gradient(45deg, transparent 75%, #1d1d1d 0),
    linear-gradient(-45deg, transparent 75%, #1d1d1d 0);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0;
}

.input-title {
  background: transparent;
  text-align: center;
  outline: none;
  border: none;
  width: auto;
  color: #768099;
  font-size: 15px;
}
.input-title::placeholder {
  color: #768099;
}

.ͼo .cm-gutters {
  border: none;
  display: none;
}

.ͼ2 .cm-gutters {
  border: none;
  display: none;
}

.ͼo .cm-activeLine {
  background-color: #2c313a00;
}

.ͼ2 .cm-activeLine {
  background-color: #2c313a00;
}

.container {
  margin-top: 50px;
  padding-top: 24px;
  min-width: 100%;
  width: auto;
  min-height: 80vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
